<section class="header-sky">
    <div class="section-title">
      <h1>Explore the Village</h1>
      <!-- <h4>▼ Swipe or click on arrows below ▼</h4> -->
    </div>
</section>
<section class="categories">
    <!-- Flickity HTML init -->
    <div class="carousel">
      <a href="gallery" class="carousel-cell">
          <div class="carousel-cell__image">
              <img src="assets/images/carousel/gallery_exterior_color.png" alt="gallery" />
          </div>
          <div class="carousel-cell__text">
              <h3>Gallery</h3>
              <h4>Sketches, drawings and paintings</h4>
          </div>
      </a>
        <a href="stargate" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/soulgate_color.png" alt="stargate" />
            </div>
            <div class="carousel-cell__text">
                <h3>Stargate</h3>
                <h4>Digital Experiments</h4>
            </div>
        </a>
        <a href="temple" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/temple_exterior_color.png" alt="temple" />
            </div>
            <div class="carousel-cell__text">
                <h3>Temple</h3>
                <h4>Personal insights and wisdom</h4>
            </div>
        </a>
        <a href="library" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/library_exterior_color.png" alt="library" />
            </div>
            <div class="carousel-cell__text">
                <h3>Library</h3>
                <h4>Stories, reflections and posts</h4>
            </div>
        </a>
        <a href="laboratory" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/laboratory_exterior_color.png" alt="temple" />
            </div>
            <div class="carousel-cell__text">
                <h3>Laboratory</h3>
                <h4>Project ideas and visions</h4>
            </div>
        </a>
        <a href="gaia-shrine" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/gaia_shrine_exterior_color.png" alt="gaia shrine" />
            </div>
            <div class="carousel-cell__text">
                <h3>Gaia Shrine</h3>
                <h4>Travelogue of Earth</h4>
            </div>
        </a>
        <a href="sky-lounge" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/sky_lounge_exterior_color.png" alt="sky lounge" />
            </div>
            <div class="carousel-cell__text">
                <h3>Sky Lounge</h3>
                <h4>Curated inspiration</h4>
            </div>
        </a>
        <a href="garden" class="carousel-cell">
            <div class="carousel-cell__image">
                <img src="assets/images/carousel/garden_exterior_color.png" alt="garden" />
            </div>
            <div class="carousel-cell__text">
                <h3>Garden</h3>
                <h4>..of my mind</h4>
                <h4>(About me)</h4>
            </div>
        </a>
    </div>
</section>
