<div id="theSidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="navmap">>
        <img class="map-background" alt="navigation-map" src="assets/images/sitenav/nav_map_background.png"></img>
        <a href="temple" class="nav-link temple">
            <img class="nav-link__icon temple-icon" alt="" src="assets/images/sitenav/temple_icon.png"></img>
            <div class="nav-link__text">Temple</div>
        </a>
        <a href="gallery" class="nav-link gallery">
            <img class="nav-link__icon temple-icon" alt="" src="assets/images/sitenav/gallery_icon.png"></img>
            <div class="nav-link__text">Gallery</div>
        </a>
        <a href="library" class="nav-link library">
            <img class="nav-link__icon temple-icon" alt="" src="assets/images/sitenav/library_icon.png"></img>
            <div class="nav-link__text">Library</div>
        </a>
        <a href="laboratory" class="nav-link laboratory">
            <img class="nav-link__icon temple-icon" alt="" src="assets/images/sitenav/laboratory_icon.png"></img>
            <div class="nav-link__text">Laboratory</div>
        </a>
        <a href="gaia-shrine" class="nav-link gaia-shrine">
            <img class="nav-link__icon gaia-shrine-icon" alt="" src="assets/images/sitenav/gaia_shrine_icon.png"></img>
            <div class="nav-link__text">Gaia Shrine</div>
        </a>
        <a href="sky-lounge" class="nav-link sky-lounge">
            <img class="nav-link__icon temple-icon" alt="" src="assets/images/sitenav/sky_lounge_icon.png"></img>
            <div class="nav-link__text">Sky Lounge</div>
        </a>
        <a href="stargate" class="nav-link stargate">
            <img class="nav-link__icon temple-icon" alt="" src="assets/images/sitenav/stargate_icon.png"></img>
            <div class="nav-link__text">Stargate</div>
        </a>
        <a href="garden" class="nav-link garden">
            <img class="nav-link__icon tree-icon" alt="" src="assets/images/sitenav/tree_icon.png"></img>
            <div class="nav-link__text">Garden (About)</div>
        </a>
    </div>
</div>
