.category-page-header {
    width: 100%;
    background-color: #111;
}
.category-page-header-container {
     position:relative;
}

.category-page-header__image {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    align: middle;
}

.category-page-header__title {
    /*max-width: 30%;*/

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;

    color: white;
    text-shadow: 2px 1px #333;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,7db9e8+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,ffffff+100 */
    background: #333333;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, hsla(0, 0%, 20%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, hsla(0, 0%, 20%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, hsla(0, 0%, 20%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.category-page-header__title:hover {
    opacity: 0;
    cursor: default;
}

.category-page-header__title, .category-page-header__title h3 {
    font-size: 2em;
}

.category-page-header__title h4 {
    font-size: 1em;
}

@media screen and ( max-width: 768px) {
    .category-page-header__title, .category-page-header__title h3 {
        font-size: 1.5em;
    }
    .category-page-header__title h4 {
        font-size: 0.8em;
    }
}

.item-portfolio {
    color: white;
}

.item-portfolio-gallery {
    background: #2d878a;
    /*background-image: url("../images/nice-snow.png");*/
    /*background-image: url("../images/textures/light-grey-floral-motif.png");*/
    /*background-image: url("../images/textures/grunge-wall.png");*/
    /*background-image: url("../images/textures/shattered.png");*/
    background-image: url("../images/textures/skulls.png");
    /*background-color: #381212;*/
    /*background-image: url("../images/textures/soft-wallpaper.png");*/
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.item-portfolio-library {
    /*background-color: #6b4917;*/
    background-color: #241401;
    /*background-image: url("../images/textures/pineapple-cut.png");*/
    /*background-image: url("../images/textures/purty-wood.png");*/
    background-image: url("../images/textures/ravenna.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.item-portfolio-sky-lounge {
    background-color: #241401;
    background-image: url("../images/textures/padded-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.item-portfolio-temple {
    background-color: #8450ab;
    /*background-image: url("../images/textures/dimension.png");*/
    /*background-image: url("../images/textures/pineapple-cut.png");*/
    /*background-image: url("../images/textures/triangles.png");*/
    background-image: url("../images/textures/washi.png");
    /*background-image: url("https://teespring-storecontent.s3.amazonaws.com/DroYcU686vKqPEUVrHG7MQ_store_header_image");*/
    /*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ba/9c/05/ba9c05a59a43dcf9b6472f8eff39e471.jpg");*/
    /*background-image: url("https://s-media-cache-ak0.pinimg.com/736x/39/8f/f1/398ff1ea3dd54f94b1892a14c5649a2f.jpg");*/
    /*background-image: url("https://freeios7.com/download/freeios7.com_apple_wallpaper_metatron_iphone4.jpg");*/
    /*background-image: url("http://previews.123rf.com/images/styleuneed/styleuneed1507/styleuneed150700183/42835493-wallpaper-flower-of-life-pattern-green-Stock-Photo.jpg");*/
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.item-portfolio-laboratory {
    background-color: #0f1f0c;
    background-image: url("../images/textures/old-mathematics.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.item-portfolio-stargate {
    background-color: #000a08;
    background-image: url("../images/textures/dimension.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.canvas {
    /*background-color:#C0C0C0;*/
    height: 300px;
    max-width: 100%;
}

@media screen and ( min-width: 768px) {
    .canvas {
        height: 400px;
    }
}

@media screen and ( min-width: 960px) {
    .canvas {
        height: 500px;
    }
}

.item-portfolio-garden {
  background-color: #736622;
  background-image: url("../images/textures/tree-bark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
