
 /*Navbar */
.navbar {
  color: #333;
  margin: 0px;
  border-radius: 0px;
  /*background-color: #b0a039;*/
  /*background-image: url("../images/textures/skulls.png");*/
  background-image: url("../images/textures/climpek.png");

  /*background-color: #b5a53a;*/
/*background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png");*/
/*background-image: url("https://www.transparenttextures.com/patterns/simple-dashed.png");*/
}

.navbar-brand {
  padding: 0px 0px 0px 15px;
}

.license {
  text-align:center;
  vertical-align: middle;
  background-color: #222;
    color: #9d9d9d;
}

.navbutton {
}
.navbutton:hover {
  cursor: pointer;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    /*background: #222; /* Black*/*/
    /*background-image: url("https://www.transparenttextures.com/patterns/climpek.png");*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000222+100 */
    /*background: #000000; /* Old browsers */*/
    /*background: -moz-linear-gradient(left, #000000 0%, #000222 100%); /* FF3.6-15 */*/
    /*background: -webkit-linear-gradient(left, #000000 0%,#000222 100%); /* Chrome10-25,Safari5.1-6 */*/
    /*background: linear-gradient(to right, #000000 0%,#000222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
    /*background-image: url("https://www.transparenttextures.com/patterns/climpek.png"), linear-gradient(to right, #000000 0%,#000222 100%);*/
    /*background-image: url("../images/nice-snow.png"), linear-gradient(to bottom, #1f013d 0%, #011759 19%, #e03400 60%, #f20000 69%, #07330b 79%);*/

    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000222',GradientType=1 ); /* IE6-9 */*/

    color: white;
    /*background: #222;*/
    /*background-image: url("../images/nice-snow.png"), -webkit-linear-linear-gradient(top, #1f013d 0%, #011759 19%, #e03400 60%, #f20000 69%, #07330b 79%);*/
    /*background-image: url("../images/nice-snow.png"), -moz-linear-linear-gradient(top, #1f013d 0%, #011759 19%, #e03400 60%, #f20000 69%, #07330b 79%);*/
    /*background-image: url("https://www.transparenttextures.com/patterns/climpek.png"), linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    /*background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */*/
    /*background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */*/*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+32,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 32%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 32%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 32%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:AntiqueWhite;
}
.sidenav .closebtn:hover {
  font-size: 3em;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Navigation map */
.navmap {
  position: absolute;
  top: 50px;
  left: 0px;
}
.map-background {
  position: absolute;
  width: 250px;
  height: 330px;
  top: 0px;
  left: 0px;
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
}

.nav-link {
  position:absolute;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1cb98+0,e5e5e5+100 */

}
.nav-link__icon {
  min-width: 30px;
  min-height: 30px;
  max-width: 50px;
  max-height: 50px;
}
.nav-link__text {
  font-size: 0.5em;
  color: #222;
  /*text-shadow: 2px 1px #FFF;*/

  background: #d1cb98; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, hsla(54,25%,60%,1) 50%, hsla(0,0%,100%,0.0) 70%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, hsla(54,25%,60%,1) 50%, hsla(0,0%,100%,0.0) 70%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, hsla(54,25%,60%,1) 50%, hsla(0,0%,100%,0.0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1cb98', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.nav-link__icon::after {
  /*content: "Temple";*/
  /*z-index: 999;*/
}

.nav-link.garden .nav-link__text {
  color: DarkGreen;
}

.nav-link.gallery {
  top: 40px;
  left: 80px;
}
.nav-link.sky-lounge {
  top: 40px;
  left: 0px;
}
.nav-link.stargate {
  top: 60px;
  left: 140px;
}
.nav-link.temple {
  top: 155px;
  left: 140px;
}
.nav-link.library {
  top: 240px;
  left: 110px;
}
.nav-link.laboratory {
  top: 200px;
  left: 10px;
}
.nav-link.gaia-shrine {
  top: 115px;
  left: 5px;
}
.nav-link.garden {
  top: 140px;
  left: 65px;
}
.nav-link:hover .nav-link__icon
 {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}
.nav-link:hover .nav-link__text {
  color: AntiqueWhite;
}
