---
layout: default
---

<div class="category-page-content">

    <!-- <h1 class="page-heading">Posts</h1> -->

        <div class="container-fluid category-page-header">
            <div class="category-page-header-container">
                <img class="category-page-header__image" src="assets/images/category-page-header/{{ page.header-image }}" alt="gallery" />
                <div class="category-page-header__title">
                    <h3>{{ page.title | escape }}</h3>
                    <h4>{{page.subtitle | escape}}</h4>
                </div>
            </div>
        </div>
    {% if page.content != '' %}
    <div class="container-fluid content-section">
        <div class="container">
          {{ content }}
        </div>
    </div>
    {% endif %}

    {% include item-portfolio.html %}

    {% if page.show-contactform %}
      {% include contactform.html %}
    {% endif %}
</div>
